/* ******************** MAIN STYLE ******************** */

@import url('http://fonts.cdnfonts.com/css/rum-raisin');

body{
   font-family: 'open sans', sans-serif;
}

h2{
    font-family: 'Rum Raisin';
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-family: 'Rum Raisin';
    font-size: 1.7rem;
}

figcaption{
    font-family: 'Rum Raisin';
    font-size: 1.7rem;
    text-align: center;
}

/* Shadow */
.pinkShadow{
    filter : drop-shadow(-2rem 2rem 0rem rgba(255, 208, 208, 0.4));
}

.pinkShadowLight{
    filter : drop-shadow(-2rem 2rem 0rem rgba(255, 208, 208, 0.2));
}

.blueShadow{
    filter : drop-shadow(-2rem 2rem 0rem rgba(37, 150, 190, 0.2));
}
.blueShadowLight{
    filter : drop-shadow(-2rem 2rem 0rem rgba(187, 234, 234, 0.8));
}

@media screen and (max-width : 1199px) {
    body{
        font-size: 1.4rem;
    }
    
    h2{
        font-size: 3.5rem;
    }
    
    figcaption, h3, .nav-link{
        font-size: 2.5rem;
    }
}

                    /* Header */

header{
    background-image : url("../images/backgroundMenu.jpg")
}

.nav-link{
    font-size: 1.8rem;
    font-family: 'Rum Raisin';
    color: #2596BE;
}

.nav-link:hover{
    color: rgba(37, 150, 190, 0.5) ;
}

                   /* Footer */
footer{
    background-color: #000F15 ;
}

footer h3, #siret{
    color: #2596BE;
}

#menuFooter ul{
    list-style-type: none;
}

#menuFooter, #scheduleFooter, #contactFooter{
    color: #FFFFFF;
}

#scheduleFooter{
    border-right: solid 1px #2596BE;
}

@media screen and (min-width: 1200px) {
    #menuFooter, #scheduleFooter{
        border-right: solid 1px #2596BE;
    }
}

/* ******************** Index.html ******************** */

                    /* section #entreprise */
#businessCard{
    background-color: #BBEAF3;
    font-size: 0.9rem;
    width: 350px;
    height: 200px;
}

#entreprise a{
    position : relative;
    bottom : 20px;
}

                    /* section #services */
#services{
    background: url("../images/accueilBackground-S2.jpg") no-repeat ;
    background-size: cover;
}

#services img{
    width: 250px;
}

.servicesContent{
    background-color: #FFFFFF;
    width: 700px;
    min-height: 740px;
}

                    /* #webRedac */

#webRedac img{
    width: 300px;
}

@media screen and (max-width : 1199px) {
    body{
        font-size: 1.4rem;
    }
    
    h2{
        font-size: 3.5rem;
    }
    
    figcaption, h3, .nav-link{
        font-size: 2.5rem;
    }

    #services img{
        width: 300px;
    }
    .servicesContent{
        min-height: 500px;
    }
}

/* ******************** prestations.html ******************** */

#redacWeb{
    background: url("../images/accueilBackground-S2.jpg") no-repeat ;
    background-size: cover;
}